<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.reasondocs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6F56C8D2-8553-4C75-90F6-ED1D193C6379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4396D02B-2219-4CBD-BF50-4AB203792D43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD8024C-1C0D-4DBA-8123-3674F2523699</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C2561FF-3E2C-4EAB-AC9D-8F69FC2CEBA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E37A25F-CB27-4C73-9DC1-749669FC4A18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E21B3BE9-A578-41AC-B4D1-D8CE58B5C514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A70CF708-D9C2-4E5E-97EB-44ED98B6862D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0CC2618-9E17-459E-808A-60A070B910F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD2BF118-E0FF-4487-8EBA-A2DA8C8C8EB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCFEC701-2BDE-4D56-ADB8-3F903AF2E65D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E21B3BE9-A578-41AC-B4D1-D8CE58B5C514</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DD8024C-1C0D-4DBA-8123-3674F2523699</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A70CF708-D9C2-4E5E-97EB-44ED98B6862D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F56C8D2-8553-4C75-90F6-ED1D193C6379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD2BF118-E0FF-4487-8EBA-A2DA8C8C8EB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>der-bingle</string>
	<key>description</key>
	<string>Quickly navigate Reason &amp; Bucklescript Docs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reason</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reasonml.github.io/docs/en/overview</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1C2561FF-3E2C-4EAB-AC9D-8F69FC2CEBA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reason-docs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7DD8024C-1C0D-4DBA-8123-3674F2523699</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"reason docs","arg":"reason-docs","subtitle":"Open page on Reason Docs"},{"imagefile":"52d62478f8dc53a6fceb11e2b3711cf69bcfe976.png","title":"bucklescript docs","arg":"bucklescript-docs","subtitle":"Open page on Bucklescript Docs"},{"title":"reason chat","arg":"reason-chat","subtitle":"Open Reason Forum"},{"title":"belt","arg":"belt","subtitle":"Open Belt API Docs"}]</string>
				<key>keyword</key>
				<string>rd</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Reason &amp; Bucklescript Documentation</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>8E37A25F-CB27-4C73-9DC1-749669FC4A18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bucklescript.github.io/docs/en/interop-cheatsheet</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0CC2618-9E17-459E-808A-60A070B910F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>bucklescript-docs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A70CF708-D9C2-4E5E-97EB-44ED98B6862D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E21B3BE9-A578-41AC-B4D1-D8CE58B5C514</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://reasonml.chat</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4396D02B-2219-4CBD-BF50-4AB203792D43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>reason-chat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6F56C8D2-8553-4C75-90F6-ED1D193C6379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bucklescript.github.io/bucklescript/api/Belt.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DCFEC701-2BDE-4D56-ADB8-3F903AF2E65D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>belt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DD2BF118-E0FF-4487-8EBA-A2DA8C8C8EB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C2561FF-3E2C-4EAB-AC9D-8F69FC2CEBA3</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4396D02B-2219-4CBD-BF50-4AB203792D43</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>6F56C8D2-8553-4C75-90F6-ED1D193C6379</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>7DD8024C-1C0D-4DBA-8123-3674F2523699</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8E37A25F-CB27-4C73-9DC1-749669FC4A18</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A70CF708-D9C2-4E5E-97EB-44ED98B6862D</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C0CC2618-9E17-459E-808A-60A070B910F7</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>DCFEC701-2BDE-4D56-ADB8-3F903AF2E65D</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>DD2BF118-E0FF-4487-8EBA-A2DA8C8C8EB1</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>E21B3BE9-A578-41AC-B4D1-D8CE58B5C514</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/der-bingle</string>
</dict>
</plist>
